button,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  background-color: #fafafa;
}

body>div {
  background-color: rgba(39, 84, 136, 0.848);
  margin: 0 auto;
  max-width: 1232px;
  padding: 0 16px;
  /* height: 100vh; */
  /* width: 100vw; */
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

header button {
  border-radius: 4px;
  line-height: 0;
  padding: 16px;
  transition: filter 0.2s;
}

header button:hover {
  filter: brightness(90%);
}

main {
  /* background-color: rgba(25, 58, 58, 0.241); */
  align-items: center;
  display: flex;
  flex-direction: column;
}

main h1 {
  color: #fafafa;
  text-transform: uppercase;
}

.register-container, .list-container {
  margin-top: 60px;
}


